.contact-page {
  background-color: $color-black-600;
  font-family: "Nunito Sans", sans-serif;

  overflow: hidden;

  &__container {
    max-width: $main-max-width;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    gap: 2rem;
    width: 100%;

    @media only screen and (min-width: 500px) {
      padding: 2rem 1rem;
    }

    @media only screen and (min-width: 750px) {
      padding: 4rem 1rem;
    }
  }

  &__contact-section {
    width: 30%;

    &-subheader,
    &-header,
    & p {
      &::selection {
        background: $color-green-accent-100;
        color: $color-black-900;
      }
    }

    &-subheader {
      color: $color-green-accent-100;
      font-size: 1rem;
      text-transform: uppercase;
    }

    &-header {
      color: $color-primary-100;
      font-size: 3rem;
      text-transform: uppercase;
    }

    & p {
      color: $color-primary-300;
      font-weight: 300;
      opacity: 0.6;

      margin-top: 1rem;
    }
  }

  &__form-section {
    display: grid;
    align-content: start;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    width: 70%;
    // padding: 4rem 0 0 0;

    &-group {
      display: flex;
      gap: 0.25rem;
      flex-flow: column nowrap;

      &-full {
        grid-column: span 2;
      }

      & label {
        color: $color-primary-300;
        opacity: 0.6;

        font-weight: 300;
      }

      & input,
      & select,
      & textarea {
        border-radius: 0.5rem;
        padding: 0.725rem 1rem;
        border: 1px solid $color-black-300;
        background-color: $color-black-300;

        box-shadow: none;
        color: $color-primary-100;
        font-size: 1rem;

        &:focus {
          border: 1px solid rgba($color-primary-300, 0.2);
          outline: none;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 5000s;
          -webkit-text-fill-color: $color-primary-100 !important;
        }
      }

      & select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23eef1f6"%3E%3Cpath d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/%3E%3C/svg%3E');
        background-repeat: no-repeat no-repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.75rem auto, 100%;
      }

      & textarea {
        height: 10rem;
        resize: vertical;
      }
    }
  }
}
