.gogreen-page {
  background-color: $color-black-100;
  font-family: "Nunito Sans", sans-serif;

  // overflow: hidden;

  &__container {
    max-width: $main-max-width;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__first-section {
    display: flex;
    gap: 2rem;
    justify-content: center;

    padding: 7rem 0 0 0;

    &-content {
      & > * {
        text-align: center;

        &::selection {
          background: $color-green-accent-100;
          color: $color-black-900;
        }
      }

      &--subheader {
        color: $color-green-accent-300;
        font-size: 0.75rem;

        @media only screen and (min-width: 500px) {
          font-size: 1rem;
        }
      }

      &--title {
        color: $color-primary-100;
        font-size: 2rem;
        font-weight: 700;

        @media only screen and (min-width: 500px) {
          font-size: 2.5rem;
        }

        @media only screen and (min-width: 750px) {
          font-size: 3.25rem;
        }

        @media only screen and (min-width: 992px) {
          font-size: 4rem;
        }
      }

      &--p {
        margin-top: 2rem;

        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $color-primary-300;
      }
    }
  }

  &__second-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: start;
    padding: 2rem 0;

    @media only screen and (min-width: 500px) {
      flex-flow: row nowrap;
      padding: 4rem 0;
    }

    &-title {
      background-color: $color-black-300;
      border-radius: 1rem;

      padding: 2rem 1rem;
      width: 100%;

      height: 18rem;

      font-size: 1.5rem;
      color: $color-green-accent-100;

      @media only screen and (min-width: 500px) {
        position: sticky;
        position: -webkit-sticky;
        top: 4.5rem;

        min-width: 10rem;
      }

      @media only screen and (min-width: 790px) {
        top: 8rem;

        padding: 5rem 2rem;
        min-width: 18rem;

        font-size: 2rem;
      }

      @media only screen and (min-width: 992px) {
        min-width: 24rem;
        font-size: 2.5rem;
      }
    }

    &-content {
      padding: 2rem 1rem;

      position: relative;

      background-color: $color-black-300;
      border-radius: 1rem;

      display: flex;
      align-items: start;
      flex-flow: column nowrap;
      gap: 1rem;

      @media only screen and (min-width: 500px) {
        gap: 2rem;
      }

      @media only screen and (min-width: 790px) {
        padding: 5rem 2rem;
        gap: 4rem;
      }

      @media only screen and (min-width: 992px) {
      }

      &--item {
        z-index: 1;

        & h4 {
          font-size: 1.5rem;
          color: $color-primary-100;
          margin-bottom: 1rem;
        }

        & p {
          color: $color-primary-300;
          opacity: 0.8;
        }
      }
    }
  }
}
