.projects-page {
  background-color: $color-black-100;
  font-family: "Nunito Sans", sans-serif;

  overflow: hidden;

  &__container {
    max-width: $main-max-width;
    margin: 0 auto;
    padding: 0 1rem;

    @media only screen and (min-width: 500px) {
      padding: 2rem 1rem;
    }

    @media only screen and (min-width: 750px) {
      padding: 4rem 1rem;
    }
  }

  &__first-section {
    display: flex;
    gap: 2rem;
    justify-content: center;

    padding: 4rem 0 0 0;

    &-content {
      & > * {
        text-align: center;

        &::selection {
          background: $color-green-accent-100;
          color: $color-black-900;
        }
      }

      &--subheader {
        color: $color-green-accent-300;
        font-size: 0.75rem;

        @media only screen and (min-width: 500px) {
          font-size: 1rem;
        }
      }

      &--title {
        color: $color-primary-100;
        font-size: 2rem;
        font-weight: 700;

        @media only screen and (min-width: 500px) {
          font-size: 2.5rem;
        }

        @media only screen and (min-width: 750px) {
          font-size: 3.25rem;
        }

        @media only screen and (min-width: 992px) {
          font-size: 4rem;
        }
      }
    }
  }

  &__second-section {
    padding: 5rem 0;

    &-container {
      display: flex;
      gap: 1rem;
      width: 100%;

      &-column {
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-flow: column nowrap;

        @media only screen and (min-width: 500px) {
          width: max(50%, 25%);
        }
      }

      &--item-small,
      &--item-big {
        cursor: pointer;

        border-radius: 1rem;
        overflow: hidden;

        & > img {
          width: 100%;
          height: 100%;

          object-fit: cover;
          object-position: center;

          opacity: 0.6;
          transition: all 0.2s ease-in-out;

          &:hover {
            opacity: 1;
            transform: scale(110%);
          }
        }
      }

      &--item-small {
        height: 17rem;
      }

      &--item-big {
        height: 34rem;
      }
    }
  }
}

.full-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba($color-black-900, 0.5);
  backdrop-filter: blur(1.5rem);
  z-index: 100;

  &__container {
    position: relative;

    max-width: $main-max-width;
    margin: 0 auto;
    padding: 7rem 1rem;

    height: 100%;
    width: 100%;
  }

  &__button {
    cursor: pointer;

    position: absolute;
    top: 8rem;
    right: 1rem;

    height: 2.5rem;
    width: 2.5rem;

    border: none;
    border-radius: 0.5rem;
    background-color: $color-black-600;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;

    &:hover {
      background-color: $color-green-accent-100;

      & > svg {
        fill: $color-black-900;
      }
    }

    & > svg {
      width: 1rem;
      fill: $color-primary-100;
    }
  }
}
