@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700;6..12,900&display=swap");
.fade-in {
  animation: fade-in 0.3s ease-in-out; }

.fade-out {
  animation: fade-out 0.3s ease-in-out; }

.slide-in-from-left {
  animation: slide-in-from-left 0.3s ease-in-out, fade-in 0.3s ease-in-out; }

@keyframes slide-down {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-20rem); }
  100% {
    transform: translateX(0); } }

.logo-accent-piece {
  fill: #a4ee15; }

.logo-letters {
  fill: #eef1f6; }

@media only screen and (max-width: 500px) {
  .xsm-hide {
    display: none !important; } }

@media only screen and (max-width: 790px) {
  .sm-hide {
    display: none !important; } }

.opacity-none {
  opacity: 0; }

.btn-light {
  background-color: #1f1f1f;
  color: #eef1f6 !important;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.725rem;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out; }
  .btn-light:hover {
    background-color: #a4ee15;
    color: #121212 !important; }
  .btn-light:hover svg {
    fill: #121212 !important;
    transform: translateX(2px); }
  .btn-light > span {
    z-index: 1; }
    .btn-light > span svg {
      fill: #eef1f6;
      opacity: 1;
      transition: all 0.2s ease-in-out; }
  .btn-light:after {
    content: "";
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 170px;
    height: 170px;
    background-color: #a4ee15;
    transform: rotate(45deg) translateY(-100%);
    transition: transform 0.2s ease-in-out; }
  .btn-light:hover:after {
    transform: rotate(45deg) translateY(-10%); }

.flip-arrow-up {
  transform: rotate(90deg); }

.nav-active {
  background-color: #1f1f1f !important;
  border-radius: 0.5rem; }

.no-decoration {
  text-decoration: none; }

.align-self-end {
  align-self: flex-end; }

.gradient-title {
  background-image: linear-gradient(110deg, #eef1f6, #a4ee15);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.title-bg-scroll {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 0;
  opacity: 0.6;
  color: #dfe4ea; }
  .title-bg-scroll--dark-mode {
    opacity: 0.01;
    z-index: -1; }
  @media only screen and (min-width: 500px) {
    .title-bg-scroll {
      font-size: 12rem; } }
  @media only screen and (min-width: 750px) {
    .title-bg-scroll {
      font-size: 16rem; } }
  @media only screen and (min-width: 1200px) {
    .title-bg-scroll {
      font-size: 20rem; } }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  background: #121212; }

.main-navigation {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700; }
  .main-navigation__top-nav-container-background {
    background-color: #a4ee15; }
  .main-navigation__top-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    max-width: 1280px;
    margin: 0 auto; }
    .main-navigation__top-nav-container a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      font-weight: 400;
      font-size: 0.875rem;
      color: #121212;
      text-decoration: none;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out; }
      .main-navigation__top-nav-container a svg {
        height: 0.875rem;
        fill: #121212; }
      .main-navigation__top-nav-container a:hover {
        opacity: 1; }
  .main-navigation__top-nav-news {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden; }
    .main-navigation__top-nav-news--show-news {
      display: inline-block; }
  .main-navigation__top-nav-links ul {
    display: flex;
    list-style: none;
    gap: 1rem; }
  .main-navigation__main-nav-container-background {
    background-color: #121212;
    border-bottom: 1px solid #1f1f1f;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); }
  .main-navigation__main-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem; }
  .main-navigation__main-nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .main-navigation__main-nav-menu-logo a {
    display: flex;
    align-items: center; }
    .main-navigation__main-nav-menu-logo a svg {
      height: 1.5rem; }
      @media only screen and (min-width: 500px) {
        .main-navigation__main-nav-menu-logo a svg {
          height: 2rem; } }
  .main-navigation__main-nav-menu-links {
    font-weight: 500;
    font-size: 1rem;
    color: #eef1f6;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem; }
    .main-navigation__main-nav-menu-links li {
      cursor: pointer;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem; }
      .main-navigation__main-nav-menu-links li button {
        cursor: pointer;
        border: none;
        padding: 0.725rem;
        font-size: inherit;
        color: inherit;
        background-color: transparent;
        font-family: inherit;
        font-weight: 500; }
        .main-navigation__main-nav-menu-links li button svg {
          transform: rotate(90deg) rotateY(0deg);
          fill: #eef1f6;
          transition: transform 0.2s; }
        .main-navigation__main-nav-menu-links li button[aria-expanded="true"] svg {
          transform: rotate(90deg) rotateY(180deg); }
      .main-navigation__main-nav-menu-links li:hover {
        background-color: #1f1f1f; }
      .main-navigation__main-nav-menu-links li a {
        padding: 0.725rem;
        text-decoration: none;
        color: inherit; }
  .main-navigation__dropdown {
    width: 100%;
    background-color: #1f1f1f;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); }
    .main-navigation__dropdown[data-visible="false"] {
      display: none; }
  .main-navigation__dropdown-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; }
    @media only screen and (max-width: 1200px) {
      .main-navigation__dropdown-content {
        grid-template-columns: repeat(3, 1fr);
        padding: 1.5rem 0.5rem; } }
    @media only screen and (max-width: 992px) {
      .main-navigation__dropdown-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; } }
    @media only screen and (max-width: 790px) {
      .main-navigation__dropdown-content {
        grid-template-columns: 1fr;
        gap: 0.5rem; } }
  .main-navigation__dropdown-card {
    background-color: #383838;
    border-radius: 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem; }
    .main-navigation__dropdown-card:hover > svg {
      background-color: #93d613;
      fill: #121212; }
    .main-navigation__dropdown-card svg {
      background-color: #121212;
      border-radius: 0.5rem 0 0 0.5rem;
      padding: 1rem;
      height: 3.5rem;
      width: 3.5rem;
      fill: #eef1f6;
      transition: all 0.2s ease-in-out; }
    .main-navigation__dropdown-card--content h4 {
      color: #eef1f6;
      font-weight: 500;
      padding-right: 0.5rem; }
    .main-navigation__dropdown-card--content p {
      color: #6e798a;
      font-size: 0.9rem;
      font-weight: 500; }

.main-navigation-mobile {
  background-color: #dfe4ea;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: "Nunito Sans", sans-serif; }
  @media only screen and (min-width: 791px) {
    .main-navigation-mobile {
      display: none; } }
  .main-navigation-mobile__top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 1rem; }
    .main-navigation-mobile__top-menu a {
      display: flex;
      align-items: center; }
      .main-navigation-mobile__top-menu a svg {
        height: 24px; }
    .main-navigation-mobile__top-menu-hamburger {
      cursor: pointer;
      display: flex;
      flex-flow: column nowrap;
      gap: 0.375rem;
      background-color: #dfe4ea;
      border: none;
      width: 1.75rem; }
      .main-navigation-mobile__top-menu-hamburger[aria-expanded="true"] span:nth-child(1) {
        transform: rotate(-40deg); }
      .main-navigation-mobile__top-menu-hamburger[aria-expanded="true"] span:nth-child(2) {
        transform: translateX(10px);
        opacity: 0; }
      .main-navigation-mobile__top-menu-hamburger[aria-expanded="true"] span:nth-child(3) {
        transform: rotate(40deg); }
      .main-navigation-mobile__top-menu-hamburger span {
        display: inline-block;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: #37609b; }
        .main-navigation-mobile__top-menu-hamburger span:nth-child(1), .main-navigation-mobile__top-menu-hamburger span:nth-child(3) {
          transform-origin: center right;
          transform: translateX(0px);
          transition: all 0.2s ease-in-out; }
        .main-navigation-mobile__top-menu-hamburger span:nth-child(2) {
          opacity: 1;
          transform: translateX(0px);
          transition: all 0.2s ease-in-out; }
  .main-navigation-mobile__drop-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh; }
    .main-navigation-mobile__drop-menu[data-visible="false"] {
      display: none; }
    .main-navigation-mobile__drop-menu--links {
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      padding: 1.25rem; }
      .main-navigation-mobile__drop-menu--links > li > a {
        text-decoration: none;
        color: #1d3557;
        font-size: 1.125rem;
        font-weight: 700; }
      .main-navigation-mobile__drop-menu--links li button {
        cursor: pointer;
        border: none;
        font-size: 1.125rem;
        color: #1d3557;
        background-color: transparent;
        font-family: inherit;
        font-weight: 700; }
        .main-navigation-mobile__drop-menu--links li button svg {
          transform: rotate(90deg) rotateY(0deg);
          fill: #24335a;
          opacity: 0.6;
          transition: transform 0.2s; }
        .main-navigation-mobile__drop-menu--links li button[aria-expanded="true"] svg {
          transform: rotate(90deg) rotateY(180deg); }
    .main-navigation-mobile__drop-menu--submenu {
      padding: 1rem 0.5rem;
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem; }
      .main-navigation-mobile__drop-menu--submenu > li > a {
        text-decoration: none;
        font-size: 1rem;
        color: #37609b;
        font-weight: 400; }
      .main-navigation-mobile__drop-menu--submenu[data-visible="false"] {
        display: none; }
    .main-navigation-mobile__drop-menu--contact {
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      background-color: #121212;
      gap: 0.5rem;
      padding: 1rem 1.25rem 4.5rem 1.25rem; }
      .main-navigation-mobile__drop-menu--contact li a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #dfe4ea;
        text-decoration: none; }
        .main-navigation-mobile__drop-menu--contact li a svg {
          height: 0.875rem;
          fill: #dfe4ea; }

.small-card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 360px;
  background-color: rgba(238, 241, 246, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 500px) {
    .small-card {
      transition: all 0.2s; }
      .small-card:hover {
        transform: translateY(-4px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); }
      .small-card:hover .small-card--content footer p svg {
        transform: translateX(4px); } }
  .small-card--content {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    background-color: transparent;
    width: 60%;
    padding: 1rem; }
    .small-card--content h3 {
      color: #eef1f6;
      font-size: 1.125rem; }
    .small-card--content p {
      color: #dfe4ea;
      font-weight: 300; }
    .small-card--content footer p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #93d613;
      font-weight: 700; }
      .small-card--content footer p svg {
        height: 1rem;
        fill: #93d613;
        transition: transform 0.2s; }
  .small-card--img-container {
    background-color: #1f1f1f;
    width: 40%;
    align-self: stretch; }
  .small-card--img {
    width: 100%;
    height: 100%;
    filter: opacity(0.8);
    object-position: 10% 100%;
    object-fit: cover; }

.grid-cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 150px;
  padding-top: 2rem;
  position: relative; }
  .grid-cards__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #1f1f1f;
    border-radius: calc(1rem - 1px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    .grid-cards__card:hover {
      background-attachment: fixed;
      background-image: radial-gradient(circle at var(--x, 0) var(--y, 0), rgba(29, 53, 87, 0.25), rgba(29, 53, 87, 0.05) 10rem); }
    .grid-cards__card:hover .grid-cards__card--img {
      opacity: 1; }
    .grid-cards__card::after {
      content: "";
      position: absolute;
      inset: -2px;
      border-radius: 1rem;
      background-attachment: fixed;
      background-image: radial-gradient(circle at var(--x, 0) var(--y, 0), rgba(44, 101, 212, 0.75), transparent 5rem);
      pointer-events: none;
      z-index: -1; }
    .grid-cards__card--content {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
      width: 60%;
      padding: 1rem; }
      .grid-cards__card--content h3 {
        color: #eef1f6;
        font-size: 1.125rem; }
      .grid-cards__card--content p {
        color: #eef1f6;
        font-weight: 500;
        opacity: 0.5;
        font-size: 1rem; }
    .grid-cards__card--img-container {
      background-color: #1d3557;
      align-self: stretch;
      border-radius: 0 calc(1rem - 1px) calc(1rem - 1px) 0;
      overflow: hidden;
      width: 40%; }
    .grid-cards__card--img {
      width: 100%;
      height: 100%;
      opacity: 0.6;
      object-position: 10% 100%;
      object-fit: cover;
      transition: opacity 0.2s ease-in-out; }

.main-hero {
  background-color: #121212;
  font-family: "Nunito Sans", sans-serif; }
  .main-hero__bg {
    width: 100vw;
    height: 100vh;
    filter: opacity(0.8);
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../media/data-center-bg.jpg);
    background-position: center;
    background-size: cover; }
  .main-hero__content {
    display: flex;
    justify-content: flex-end;
    flex-flow: column nowrap;
    gap: 5rem;
    position: relative;
    margin: 0 auto;
    padding: 0 1rem;
    height: 100vh; }
    @media only screen and (min-width: 1200px) {
      .main-hero__content {
        max-width: 1280px;
        justify-content: space-between;
        flex-flow: row nowrap;
        gap: 1rem; } }
    @media only screen and (min-width: 1200px) {
      .main-hero__content-hero {
        width: 65%;
        align-self: center; } }
    .main-hero__content-hero h1 {
      font-size: 2.5rem;
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: #eef1f6; }
      @media only screen and (min-width: 758px) {
        .main-hero__content-hero h1 {
          font-size: 3rem; } }
      @media only screen and (min-width: 992px) {
        .main-hero__content-hero h1 {
          font-size: 4rem; } }
      @media only screen and (min-width: 1200px) {
        .main-hero__content-hero h1 {
          font-size: 5rem;
          text-align: left; } }

.about-section {
  background-color: #eef1f6;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  position: relative; }
  .about-section__container {
    max-width: 1280px;
    padding: 2rem 1rem;
    margin: 0 auto;
    position: relative; }
    @media only screen and (min-width: 790px) {
      .about-section__container {
        padding: 5rem 1rem; } }
    .about-section__container--subheader {
      color: #37609b;
      font-size: 0.75rem; }
      @media only screen and (min-width: 500px) {
        .about-section__container--subheader {
          font-size: 1rem; } }
    .about-section__container--title {
      color: #1d3557;
      font-size: 2rem;
      font-weight: 700; }
      @media only screen and (min-width: 500px) {
        .about-section__container--title {
          font-size: 2.5rem; } }
      @media only screen and (min-width: 750px) {
        .about-section__container--title {
          font-size: 3.25rem; } }
      @media only screen and (min-width: 992px) {
        .about-section__container--title {
          font-size: 4rem; } }
    .about-section__container--content {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      margin-top: 2rem; }
      @media only screen and (min-width: 750px) {
        .about-section__container--content {
          flex-flow: row nowrap; } }
      .about-section__container--content img {
        border-radius: 1rem;
        object-fit: cover; }
        @media only screen and (min-width: 750px) {
          .about-section__container--content img {
            width: 50%; } }
      .about-section__container--content aside {
        display: flex;
        flex-flow: column nowrap; }
        .about-section__container--content aside p {
          line-height: 1.5rem; }
        .about-section__container--content aside ul {
          list-style: none;
          margin-top: 1rem;
          margin-bottom: auto; }
          .about-section__container--content aside ul li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.5rem; }
          .about-section__container--content aside ul li::before {
            content: "";
            background-image: url(../media/square-check-solid.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            position: relative; }
        .about-section__container--content aside a {
          align-self: flex-start; }

.partners-section {
  background-color: #93d613;
  min-height: 400px; }

.services-section {
  position: relative;
  font-family: "Nunito Sans", sans-serif; }
  .services-section__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
    position: relative; }
    @media only screen and (min-width: 790px) {
      .services-section__container {
        padding: 5rem 1rem; } }
    .services-section__container--subheader {
      color: #37609b;
      font-size: 0.75rem; }
      @media only screen and (min-width: 500px) {
        .services-section__container--subheader {
          font-size: 1rem; } }
    .services-section__container--title {
      color: #1d3557;
      font-size: 2rem;
      font-weight: 700; }
      @media only screen and (min-width: 500px) {
        .services-section__container--title {
          font-size: 2.5rem; } }
      @media only screen and (min-width: 750px) {
        .services-section__container--title {
          font-size: 3.25rem; } }
      @media only screen and (min-width: 992px) {
        .services-section__container--title {
          font-size: 4rem; } }
