//breakpoints
// LG: 1200px
// MD: 992px
// SM: 790px
// XSM: 500px

.logo-accent-piece {
  // fill: white;

  fill: $color-green-accent-100;
}

.logo-letters {
  // fill: $color-green-accent-100;
  fill: $color-primary-100;
}

.xsm-hide {
  @media only screen and (max-width: 500px) {
    display: none !important;
  }
}

.sm-hide {
  @media only screen and (max-width: 790px) {
    display: none !important;
  }
}

.opacity-none {
  opacity: 0;
}

.btn-light {
  background-color: $color-black-600;
  color: $color-primary-100 !important;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  text-decoration: none;
  font-weight: 500;

  border-radius: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.725rem;

  position: relative;

  overflow: hidden;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-green-accent-100;
    color: $color-black-900 !important;
  }

  &:hover svg {
    fill: $color-black-900 !important;
    transform: translateX(2px);
  }

  & > span {
    z-index: 1;

    & svg {
      fill: $color-primary-100;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: -1rem;
    right: -1rem;

    width: 170px;
    height: 170px;

    background-color: $color-green-accent-100;

    transform: rotate(45deg) translateY(-100%);
    transition: transform 0.2s ease-in-out;
  }

  &:hover:after {
    transform: rotate(45deg) translateY(-10%);
  }
}

.btn-dark {
  background-color: $color-primary-100;
  color: $color-black-900 !important;

  & > span {
    z-index: 1;

    & svg {
      fill: $color-black-900;
    }
  }
}

.flip-arrow-up {
  transform: rotate(90deg);
}

.nav-active {
  background-color: $color-black-600 !important;
  border-radius: 0.5rem;
}

.no-decoration {
  text-decoration: none;
}

.align-self-end {
  align-self: flex-end;
}

.gradient-title {
  background-image: linear-gradient(
    110deg,
    $color-primary-100,
    $color-green-accent-100
  );

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-bg-scroll {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  text-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
  font-weight: 500;
  text-transform: uppercase;

  z-index: 0;

  opacity: 0.6;

  color: $color-primary-300;

  &--dark-mode {
    opacity: 0.01;
    z-index: -1;
  }

  @media only screen and (min-width: 500px) {
    font-size: 12rem;
  }

  @media only screen and (min-width: 750px) {
    font-size: 16rem;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 20rem;
  }
}
