$color-primary-100: #eef1f6;
$color-primary-300: #dfe4ea;
$color-primary-400: #c5d7ec;
$color-primary-500: #7faee3;
$color-primary-600: #37609b;
$color-primary-900: #1d3557;

$color-accent-100: #f8cd9f;
$color-accent-300: #f6b46d;
$color-accent-600: #f39530;
$color-accent-900: #ffb600;

$color-blue-btn: #2c65d4;

$color-green-accent-100: #a4ee15;
$color-green-accent-300: #93d613;
$color-green-accent-600: #77ad10;
$color-green-accent-900: #51760a;

$color-black-100: #383838;
$color-black-300: #252525;
$color-black-600: #1f1f1f;
$color-black-900: #121212;

$main-max-width: 1280px;
