.grid-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 150px;
  padding-top: 2rem;

  position: relative;

  transition: opacity 0.6s ease-in-out;

  @media only screen and (min-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    background: $color-black-600;
    border-radius: calc(1rem - 1px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

    cursor: pointer;

    @media only screen and (min-width: 790px) {
      &:hover {
        background-attachment: fixed;
        background-image: radial-gradient(
          circle at var(--x-grid, 0) var(--y-grid, 0),
          rgba($color-green-accent-100, 0.15),
          rgba($color-green-accent-100, 0.05) 10rem
        );
      }

      &:hover .grid-cards__card--icon-container--icon {
        background-color: $color-green-accent-100;
        fill: $color-black-600;
      }

      &::after {
        content: "";
        position: absolute;
        inset: -2px;

        border-radius: 1rem;

        background-attachment: fixed;
        background-image: radial-gradient(
          circle at var(--x-grid, 0) var(--y-grid, 0),
          rgba($color-green-accent-100, 0.75),
          transparent 5rem
        );

        pointer-events: none;
        z-index: -1;
      }
    }

    & a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      z-index: 1;
    }

    &--content {
      display: flex;
      flex-flow: column nowrap;
      align-self: flex-end;
      gap: 0.5rem;

      padding: 1rem;

      & h3 {
        color: $color-primary-100;
        font-size: 1.125rem;
      }

      & p {
        color: $color-primary-100;
        font-weight: 300;
        opacity: 0.5;
        font-size: 1rem;
      }
    }

    &--icon-container {
      align-self: flex-start;
      border-radius: 0 calc(1rem - 1px) calc(1rem - 1px) 0;

      position: relative;

      &--icon {
        position: absolute;
        top: 0;
        right: 0;

        height: 60px;
        width: 60px;
        border-radius: 0 calc(1rem - 1px) 0 calc(1rem - 1px);
        padding: 1rem;

        fill: $color-primary-100;
        background-color: $color-black-100;

        transition: all 0.2s ease-in-out;
      }
    }
  }
}
