.parallax-effect {
  font-family: "Nunito Sans", sans-serif;

  position: relative;
  height: 100vh;
  width: 100%;

  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 10rem;
      background: linear-gradient(to top, $color-black-100, transparent);
      z-index: 10;
    }

    & img {
      position: absolute;
      left: 0;

      height: 100%;
      width: 100%;

      object-fit: cover;
    }

    &--back {
      top: var(--back-top-pos, 0);

      opacity: 0.6;
      filter: blur(1px);
    }

    &--front {
      top: 0;
      z-index: 2;
    }

    &--title {
      position: relative;
      top: var(--title-top-pos, 0);
      font-size: 8rem;
      color: $color-primary-100;
      z-index: 1;

      & span {
        color: $color-green-accent-100;
      }
    }
  }
}
