.subpage-header {
  background-color: $color-black-900;
  font-family: "Nunito Sans", sans-serif;

  min-height: 512px;
  position: relative;

  display: flex;

  padding: 7rem 0;

  &__bg {
    position: absolute;
    inset: 0;

    background-image: url("../media/bg-pages-blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    // align-items: flex-end;

    width: 100%;

    max-width: $main-max-width;
    margin: 0 auto;
    padding: 0 1rem;

    z-index: 1;

    & h1 {
      color: $color-primary-100;
      font-size: 4.5rem;

      &::selection {
        background: $color-green-accent-100;
        color: $color-black-900;
      }
    }

    &--breadcrums {
      list-style: none;
      display: flex;

      & li {
        color: $color-primary-300;

        & a {
          color: $color-primary-300;
          text-decoration: none;

          &:hover {
            color: $color-green-accent-100;
          }
        }
      }

      & li:not(:first-child):before {
        padding: 0.5rem;
        color: $color-primary-300;
        content: "/\00a0";
      }
    }
  }
}
