.about-section {
  background-color: $color-primary-100;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  position: relative;

  &__container {
    max-width: $main-max-width;
    padding: 2rem 1rem;
    margin: 0 auto;
    position: relative;

    @media only screen and (min-width: 790px) {
      padding: 5rem 1rem;
    }

    &--subheader {
      color: $color-green-accent-300;
      font-size: 0.75rem;

      transition: all 0.6s ease-in-out;

      @media only screen and (min-width: 500px) {
        font-size: 1rem;
      }

      &::selection {
        background: $color-green-accent-100;
        color: $color-black-900;
      }
    }

    &--title {
      color: $color-black-900;
      font-size: 2rem;
      font-weight: 700;

      transition: all 0.6s ease-in-out;

      @media only screen and (min-width: 500px) {
        font-size: 2.5rem;
      }

      @media only screen and (min-width: 750px) {
        font-size: 3.25rem;
      }

      @media only screen and (min-width: 992px) {
        font-size: 4rem;
      }

      &::selection {
        background: $color-green-accent-100;
        color: $color-black-900;
      }
    }

    &--content {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;

      margin-top: 2rem;

      transition: all 0.6s ease-in-out;

      @media only screen and (min-width: 750px) {
        flex-flow: row nowrap;
      }

      & img {
        border-radius: 1rem;
        object-fit: cover;

        @media only screen and (min-width: 750px) {
          width: 50%;
        }
      }

      & aside {
        display: flex;
        flex-flow: column nowrap;

        & p {
          line-height: 1.5rem;

          &::selection {
            background: $color-green-accent-100;
            color: $color-black-900;
          }
        }

        & ul {
          list-style: none;
          margin-top: 1rem;
          margin-bottom: auto;

          & li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.5rem;

            &::selection {
              background: $color-green-accent-100;
              color: $color-black-900;
            }
          }

          & li::before {
            content: "";
            background-image: url(../media/square-check-solid.svg);
            background-size: contain;
            background-repeat: no-repeat;
            min-width: 1em;
            min-height: 1em;
            position: relative;
          }
        }

        & a {
          align-self: flex-start;
        }
      }
    }
  }
}
