.main-hero {
  background-color: $color-black-900;
  font-family: "Nunito Sans", sans-serif;

  // &__video-bg {
  //   width: 100vw;
  //   height: 100vh;
  //   filter: opacity(0.5);
  //   object-fit: cover;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }

  &__bg {
    width: 100vw;
    height: 100vh;
    filter: opacity(0.8);
    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../media/data-center-bg.jpg);
    background-position: center;
    background-size: cover;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    flex-flow: column nowrap;
    gap: 5rem;

    position: relative;

    margin: 0 auto;
    padding: 0 1rem;

    // height: calc(100vh - 3.5rem);
    height: 100vh;

    @media only screen and (min-width: 1200px) {
      max-width: $main-max-width;

      justify-content: space-between;
      flex-flow: row nowrap;
      gap: 1rem;
    }

    &-hero {
      @media only screen and (min-width: 1200px) {
        width: 65%;
        align-self: center;
      }

      & h1 {
        text-transform: uppercase;
        font-size: 1.75rem;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: $color-primary-100;
        font-weight: 300;

        &::selection {
          background: $color-green-accent-100;
          color: $color-black-900;
        }

        & > span,
        & ul {
          font-family: "Nunito Sans", sans-serif;
          font-weight: 900;
        }

        & ul {
          list-style: none;
          // overflow: hidden;
          height: 109px;
        }

        & .switch-text {
          display: inline-block;
          position: relative;
          top: 0;

          &:not(:nth-child(1)) {
            display: none;
          }

          @media only screen and (min-width: 1200px) {
            &:nth-child(1) {
              opacity: 0;
              animation: slide 12s steps(4) infinite,
                text-switch 12s infinite ease-in-out;
            }

            &:nth-child(2) {
              display: inline-block;
              opacity: 0;
              animation: slide 12s steps(4) infinite,
                text-switch 12s 3s infinite ease-in-out;
            }

            &:nth-child(3) {
              display: inline-block;
              opacity: 0;
              animation: slide 12s steps(4) infinite,
                text-switch 12s 6s infinite ease-in-out;
            }

            &:nth-child(4) {
              display: inline-block;
              opacity: 0;
              animation: slide 12s steps(4) infinite,
                text-switch 12s 9s infinite ease-in-out;
            }
          }
        }

        @media only screen and (min-width: 758px) {
          font-size: 3rem;
        }

        @media only screen and (min-width: 992px) {
          font-size: 4rem;
        }

        @media only screen and (min-width: 1200px) {
          font-size: 5rem;
          text-align: left;
        }
      }
    }
  }
}
