.services-section {
  position: relative;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;

  &__container {
    max-width: $main-max-width;
    margin: 0 auto;
    padding: 2rem 1rem;
    position: relative;

    @media only screen and (min-width: 790px) {
      padding: 5rem 1rem 2rem 1rem;
    }

    &--subheader {
      color: $color-green-accent-300;
      font-size: 0.75rem;

      @media only screen and (min-width: 500px) {
        font-size: 1rem;
      }

      &::selection {
        background: $color-green-accent-100;
        color: $color-black-900;
      }
    }

    &--title {
      color: $color-primary-100;
      font-size: 2rem;
      font-weight: 700;

      @media only screen and (min-width: 500px) {
        font-size: 2.5rem;
      }

      @media only screen and (min-width: 750px) {
        font-size: 3.25rem;
      }

      @media only screen and (min-width: 992px) {
        font-size: 4rem;
      }

      &::selection {
        background: $color-green-accent-100;
        color: $color-black-900;
      }
    }
  }
}
